body{
    background-image: url('image.png');
    background-position: center;
    background-size: cover;
    height: 95VH;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.login-box {
    width: 320px;
    height: 420px;
    background: radial-gradient(rgba(243, 238, 238, 0.322));                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    box-shadow: 5px 10px 20px rgb(0,0,0,0.6);
    backdrop-filter: blur(2px);
    border-radius: 20px  ;
}

img{
    width: 120px; 
    height: 120px;
    margin-top: -65PX;
    margin-left: 31%;
}
h2{
    margin-top: 2px;
    margin-left: 37%;
    font-size: 22px;
    cursor: pointer;
     
}

h3, input{
    margin-left: 38px;
}

input{
    width: 80%;
    height: 20px;
    outline: none;
    font-size: 20px;
    margin-bottom: 18px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: solid white;
    color: black;
    font-family: cursive;
    padding-bottom: 15px;
    margin-bottom: 15px;
    transition: 0.3s ease;

}


input:hover{
    border-bottom: solid black;

}

::placeholder{
    color: black ;
}

i{
    color: aliceblue;
    float: right;
    margin-left:-20px;
    margin-right: 20px;

}

.login{
    font-size: 18px;
    padding: 5px 16px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: aliceblue;
    background: black;
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;


}
 button:hover{
    color: black;
    background: aliceblue;


 }